:root {
    --first-color: #0B192C;
    --second-color: #000000;
    --third-color: #1E3E62;
    --fourth-color: #14de39;
    --fifth-color: #FF6500;
    --sixth-color: white;
    --body-min-height: 100vh;
    --font-size-first: 24px;
    --font-size-second: 16px;
    --font-weight: bold;
    --bg-image: linear-gradient(to right, var(--fifth-color), var(--fourth-color));
    --colors-code: -80px;
    --heading-first: 55px;
    --heading-second: 40px;
    --main-section-height: 350px;
    --border-radius: 15px;
    --border-radius-second: 8px;
    --image-section-height: 600px;
    --image-section-color-point-size: 15px;
    --border: 2px solid grey;
    --box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    --padding: 40px;
    --justify-centent: center;
    --aligh-items: center;
    --cursor: pointer;


}



* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    min-height: var(--body-min-height);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}

.generic-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
    font-weight: 600;
    background-image: var(--bg-image);
    -webkit-background-clip: text;
    color: transparent;
}

.heading-section {
    background-color: var(--first-color);
    height: var(--main-section-height);
    border-radius: 8px;

}

.generic-para {
    color: var(--fifth-color);
}


.image-section {
    height: var(--image-section-height);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    transform: translateY(-20%);
    background-color: var(--sixth-color);
    display: flex;
    justify-content: var(--justify-centent);
    align-items: var(--aligh-items);
    padding: var(--padding);
}

.color-codes {
    height: var(--image-section-height);
    box-shadow: var(--box-shadow);
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    transform: translateY(-20%);
    position: relative;
    background-color: var(--sixth-color);
    padding: var(--padding);

}

.color-header {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 3px;
}

.color1 {
    height: var(--image-section-color-point-size);
    width: var(--image-section-color-point-size);
    border-radius: 50%;
    background-color: var(--fifth-color);
}


.color2 {
    height: var(--image-section-color-point-size);
    width: var(--image-section-color-point-size);
    border-radius: 50%;
    background-color: var(--fourth-color);

}

.color3 {
    height: var(--image-section-color-point-size);
    width: var(--image-section-color-point-size);
    border-radius: 50%;
    background-color: var(--third-color);

}

.hex-code {

    --border-radius: 5px;
    border-radius: var(--border-radius);
    border: 1px dashed var(--fifth-color);
}

.copyclicpboard {
    color: var(--first-color);
    cursor: var(--cursor);
}


/* Hide the input elements but keep the labels visible and clickable */
.file-upload input[type="file"],
.file-upload input[type="color"] {
    display: none;
    /* This will hide the inputs */
}

/* Optional: Style the labels to make them more prominent if needed */
.file-upload label {
    cursor: var(--cursor);
    /* Make the label clickable */
    display: inline-block;
    padding: 10px;
    background-color: var(--fourth-color);
    /* Add background color for better visibility */
    border-radius: 5px;
    /* Optional: adds rounded corners to the label */
    transition: background-color 0.3s ease;
    /* Optional: smooth transition for background */
}

.file-upload label:hover {
    background-color: var(--fourth-color);
    /* Change background color on hover */
}


/* General container styling */
.upload-container {
    width: 100%;
    max-width: 800px;
    padding: 100px;
    text-align: center;
    background-color: #fff;
    border: 2px dashed var(--second-color);
    border-radius: var(--border-radius-second);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Title and instruction text */
.upload-container h2 {
    font-size: var(--font-size-first);
    color: #333;
    margin-bottom: 10px;
}

.upload-container p {
    font-size: var(--font-size-second);
    color: #555;
    margin-bottom: 20px;
}

#imagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imagePreview img {
    max-height: 550px;
}


/* Styling the drag-and-drop zone */
.upload-zone {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: var(--border-radius-second, 12px);
    border: 2px solid transparent;
    background-color: #f0f0f0;
    display: flex;
    justify-content: var(--justify-content, center);
    align-items: var(--align-items, center);
    color: #4CAF50;
    font-size: 18px;
    cursor: var(--cursor);
    border-left-color: var(--fifth-color);
    border-top-color: var(--fourth-color);
    border-right-color: var(--second-color);
    border-bottom-color: var(--fifth-color);
    transition: background-color 0.3s ease;
}


.upload-zone:hover {
    background-color: #e8f5e8;
    /* Light green on hover */
}

.upload-zone input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: var(--cursor);
}

/* Optional: Styling for the text inside the drop area */
.upload-zone span {
    font-size: var(--font-size-second);
    color: #4CAF50;
    font-weight: bold;
}

/* Optional: Optional text when file is being dragged */
.upload-zone.dragover {
    background-color: #e0f7e0;
    /* Light green when dragging over */
}


.color-palette-section {
    background-color: var(--first-color);
    border-radius: var(--border-radius-second);
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.color-palette-section h2 {
    background-image: var(--bg-image);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: var(--font-weight);
}

.color-palette-section p {
    color: var(--sixth-color);
}


.colors-group {
    top: var(--colors-code);
    right: var(--colors-code);
    position: absolute;
}


/* Color blocks layout */
.color-palette {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: repeat(8, 80px); /* Flexible grid columns */
    justify-content: center; /* Centering items horizontally within grid cells */
    align-items: center; /* Centering items vertically within grid cells */

}


/* Media Query for Medium Screens (tablets) */
@media (max-width: 768px) {
    .color-palette {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for medium screens */
    }
}

/* Media Query for Mobile Screens */
@media (max-width: 480px) {
    .color-palette {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile screens */
    }
}

/* Color Block Styling */
.color-block {
    height: 80px;
    width: 80px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: var(--cursor);
    transition: transform 0.3s ease;
}

/* Color block hover effect */
.color-block:hover {
    transform: scale(1.05);
}

/* Optional: Add unique color backgrounds to each block */
.color-1 {
    background-color: #FF5733;
}

.color-2 {
    background-color: #33FF57;
}

.color-3 {
    background-color: #3357FF;
}

.color-4 {
    background-color: #F1C40F;
}

.color-5 {
    background-color: #9B59B6;
}

.color-6 {
    background-color: #1ABC9C;
}

.color-7 {
    background-color: #E74C3C;
}

.color-8 {
    background-color: #3498DB;
}



#copyModalLabel {
    background-image: var(--bg-image);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: var(--font-weight);
}


.generic-button {
    --border-radius: 5px;
    padding: 15px 30px;
    font-size: var(--font-size-second);
    background-color: var(--fourth-color);
    border: none;
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    color: white;

}


.generic-button:hover {
    --border-radius: 5px;
    padding: 15px 30px;
    font-size: var(--font-size-second);
    background-color: var(--first-color);
    border: none;
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    color: white;

}





.navbar-custom-style {
    background-color: white;
    border-bottom: 2px solid #0e0a19;

}

/* Closing */


/* CSS for Footer section */
.footer {
    margin-top: auto;
    width: 100%;
    background-color: var(--first-color);
    color: white;
    position: relative;

}




.navbar-nav .nav-item {
    text-align: left;
    background-color: #244855;
    color: black;
    border-radius: 5px;
}

/* Custom CSS for managing in small devices*/
@media (max-width: 992px) {

    .navbar-custom-style {
        border-bottom: none;
    }

    .navbar-nav .nav-item a {
        margin-left: 5px;
    }

    .navbar-nav .nav-item {
        border-top: 1px solid #ccc;
        text-align: left;
    }

    .navbar-nav .nav-item:hover {
        text-align: left;
        background-color: #4716fa;
        color: white;
    }

    .navbar-collapse {
        margin-top: 10px;

    }


}


/* Scroll Bar css */
/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    height: 12px;
    /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #244855;
    /* Track color */
    /* border-radius: 10px; */
    /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: #e64833;
    /* Thumb color */
    border-radius: 10px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #e64833;
    /* Color when hovered */
}

/* Close */


/* Footer social links */

.social-links a {
    margin: 0 6px;
    color: #007bff;
    /* Change color as needed */
    font-size: 24px;
    /* Adjust size of icons */
    text-decoration: none;
    border: 1px solid #1e2027;
    padding: 8px;
    border-radius: 5px;
    /* Remove underline */
}

.social-links a:hover {
    color: #007bff;
    /* Change color on hover */
}

.footer-contact {
    background-color: #fffdf8;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: #e64833;
    font-weight: bold;
    padding: 20px;
}

.footer-contact a:hover {
    color: #244855;
}

.list-unstyled li a {
    color: #777987;
    font-weight: bold;

}

.list-unstyled li a:hover {
    color: #e64833;
    font-weight: bold;

}

.footer-heading {
    font-size: 25px;
    color: #777987;
    /* color: #244855; */
}

.footer-heading-two {
    font-size: 25px;
}