{% extends 'base.html' %}
{% load static %}
{% block titlename %}
About US - Animal Randomizer
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="generic-heading my-5 text-center">
                About SnappyColor
            </h2>
        </div>

        <div class="col-lg-12">
            <p class="text-justify">Welcome to our color tool! Our mission is to provide a simple yet powerful platform
                for extracting colors from images and converting color codes effortlessly. We aim to help designers,
                developers, and enthusiasts bring their creative ideas to life.</p>

            <div class="mt-4">
                <h3>What We Offer</h3>
                <ul>
                    <li><strong>Color Extraction:</strong> Easily extract dominant colors from any image and get
                        accurate results.</li>
                    <li><strong>Color Code Conversion:</strong> Convert between HEX, RGB, HSL, and other formats
                        seamlessly.</li>
                    <li><strong>User-Friendly Interface:</strong> Our tool is designed to be intuitive and accessible to
                        everyone.</li>
                </ul>
            </div>
            <div class="mt-4">
                <h3>Contact Us</h3>
                <p>If you have any questions, feedback, or suggestions, feel free to reach out to us:</p>
                <ul>
                    <li><strong>Email:</strong> <a href="mailto:snappycolor@gmail.com">snappycolor@gmail.com</a></li>
                    <li><strong>Phone:</strong> +1 (555) 123-4567</li>
                    <li><strong>Contact form:</strong> <a href="/contact">Contact Now</a></li>
                    <li><strong>Social Media:</strong> Follow us on <a href="#">Facebook</a>, <a href="#">Linkdin</a>, and <a href="#">Instagram</a>.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}