{% extends 'base.html' %}
{% load static %}
{% block titlename %}
About US - Animal Randomizer
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="generic-heading my-5 text-center">
                About SnappyColor
            </h2>
        </div>

        <div class="col-lg-12">
            <p>
                Animal Randomizer (Random Animal Generator) is an online random animal generator tool used to generate
                any random animal's information by animal category.
            </p>

            <p>Users can generate only four random animal details at a time.</p>

            <p>We have designed this online random animal generator tool to provide information about animals that can
                be useful for educational purposes, general knowledge about Animals, For Kids, Fun purposes, Curiosity,
                etc.</p>


            <p>If I talk about animal information, Then it could be like animal name, animal scientific name, animal
                category, lifespan, some
                facts, pictures, and some other information. You can also download the animal information in your system
                just by clicking the <strong>Download Animal Info</strong> button.</p>



            <p>
                To generate the random animal details, <a href="/"><strong>Click Here</strong></a> to visit the tool
                page and choose the animal category
                you want to generate also choose any number between upto 4 and then click on the Generate Random Animal
                button, and you will get redirected to another page where you will see animal details of category that
                you had selected. You can download the animal information as well.
            </p>
        </div>
    </div>
</div>


{% endblock %}